[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
gunicorn = "*"
flask = "*"
jupyter = "*"
inflection = "*"
seaborn = "*"
xgboost = "*"
matplotlib = "*"
numpy = "*"
requests = "*"
appnope = {version = "*", markers = "sys_platform == 'linux' or sys_platform == 'darwin'"}
isort = "*"
black = {extras = ["jupyter"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
